.CompanyInfo {
    padding-bottom: 300px;

    h3 {
        text-align: center;
        padding: 50px 0;
        font-size: 20px;
        font-weight: bolder;
        color: $red;
    }

    .wrapper {
        @include alignContentsCenter();
    }

    .point {
        color: $red;
    }

    .mainBanner {
        position: relative;
        margin-bottom: 50px;
        height: 100vh;

        .sliderContainer {
            position: relative;

            div {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: cover;

                &.active {
                    animation-name: activeIndex;
                    animation-duration: 3s;
                    animation-fill-mode: forwards;
                    animation-iteration-count: infinite;
                }
            }
        }

        p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #f8f8f8;
            font-size: 48px;
            font-weight: 600;
            z-index: 10;
            span {
                color: $red;
            }
        }

        ul {
            position: absolute;
            display: flex;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 10;

            li {
                width: 8px;
                height: 8px;
                background-color: rgba(255, 255, 255, 0.5);
                margin-right: 8px;
                border-radius: 100%;
                cursor: pointer;

                &:last-child {
                    margin-right: 0;
                }

                &.active {
                    background-color: #fff;
                }
            }
        }
    }

    .vision {
        text-align: center;
        margin-bottom: 150px;

        .contents {
            display: flex;
            align-items: center;
            flex-direction: column;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 10px 0;
                width: 230px;
                height: 230px;
                border-radius: 100%;
                background-color: $red;

                p {
                    color: #fff;
                    font-size: 24px;
                }
            }
            ul {
                display: flex;
                justify-content: space-between;
                width: 750px;
                li {
                    position: relative;
                    width: 300px;
                    padding: 15px;
                    background-color: #fff;
                    border-radius: 10px;
                    font-size: 20px;
                    box-shadow: 4px 4px 18px 0px rgba(50, 50, 50, 0.125);

                    ::after {
                        display: block;
                        position: absolute;
                        content: "";
                        width: 1px;
                        height: 120px;
                        background-color: $red;
                        z-index: -1;
                    }

                    span {
                        font-size: 36px;
                        font-weight: bold;
                        color: #d9d9d9;
                    }

                    &:nth-child(1) {
                        text-align: left;
                        ::after {
                            right: 15%;
                            top: -50%;
                            transform: rotate(45deg);
                        }
                    }

                    &:nth-child(2) {
                        text-align: right;
                        ::after {
                            left: 15%;
                            top: -50%;
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
        }
    }

    .brandMission {
        padding-bottom: 150px;
        background-color: #f8f8f8;

        > p {
            text-align: center;
            font-size: 28px;
            margin-bottom: 50px;

            span {
                font-weight: 600;
            }
        }

        .wrapper {
            ul {
                li {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 50px;
                    text-align: center;
                    font-size: 16px;
                    vertical-align: baseline;

                    span {
                        font-size: 20px;
                        font-weight: bolder;
                        margin-bottom: 50px;
                        position: relative;

                        &.point {
                            font-size: 24px;
                            border-bottom: none;
                            margin-bottom: 0;

                            &:after {
                                display: none;
                            }
                        }

                        &:after {
                            content: "";
                            position: absolute;
                            left: 50%;
                            bottom: -25px;
                            transform: translateX(-50%);
                            width: 8px;
                            height: 8px;
                            border-radius: 100px;
                            background-color: $red;
                        }
                    }
                }
            }
        }
    }

    .companyProfile {
        background-color: #fff;
        padding: 50px 0 0;

        .wrapper {
            position: relative;
            padding: 150px;
            background: url("https://images.unsplash.com/photo-1500333070776-343c73e1eb4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80")
                no-repeat 50% 50% / cover;

            &::after {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.3);
            }

            table {
                display: inline-block;
                padding: 20px;
                background-color: #fff;
                font-size: 16px;
                line-height: $line_height_base;
                z-index: 1;
                tr {
                    display: block;
                    padding: 10px 0 15px;

                    &:last-child {
                        border-bottom: none;
                    }

                    th {
                        width: 200px;
                        padding: 0 10px;
                        font-weight: bold;
                    }

                    td {
                        span {
                            color: #666;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }

    .history {
        margin-bottom: 150px;
        ul {
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 50px;
            max-width: 950px;

            li {
                text-align: center;

                span {
                    display: inline-block;
                    font-size: 32px;
                    margin-bottom: 30px;
                    color: #666;
                }

                table {
                    text-align: left;

                    tr {
                        display: inline-block;
                        margin-bottom: 15px;
                        td {
                            word-break: keep-all;
                            &:nth-child(1) {
                                color: $red;
                                font-weight: bold;
                                padding-right: 15px;
                            }
                        }
                    }
                }
            }
        }
    }

    .members {
        margin-bottom: 150px;

        .wrapper {
            ul {
                display: grid;
                grid-template-columns: auto auto auto auto auto;
                grid-column-gap: 20px;
                grid-row-gap: 20px;

                li {
                    position: relative;
                    @include alignContentsCenter();
                    width: 160px;
                    height: 160px;
                    background-color: #dc3838;
                    border-radius: 100%;
                    box-shadow: 4px 4px 18px 0px rgba(50, 50, 50, 0.125);
                    overflow: hidden;
                    cursor: default;

                    &:hover {
                        img {
                            opacity: 0;
                        }
                        p {
                            opacity: 1;
                        }
                    }

                    img {
                        width: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        transition: 0.25s ease;
                    }

                    p {
                        position: absolute;
                        width: 100%;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        opacity: 0;
                        text-align: center;
                        color: #fff;
                        font-size: 12px;

                        span {
                            display: block;
                            font-size: 16px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }

    .contact {
        table {
            display: inline-block;
            padding: 20px;
            background-color: #fff;
            font-size: 16px;
            line-height: $line_height_base;
            z-index: 1;
            tr {
                display: block;
                padding: 10px 0 15px;

                &:last-child {
                    border-bottom: none;
                }

                th {
                    width: 200px;
                    padding: 0 10px;
                    font-weight: bold;
                }
            }
        }
    }
}

@keyframes activeIndex {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
