.Footer {
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: #333;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.75);
    .wrapper {
        width: 960px;
        > span {
            font-size: 16px;
        }
        address {
            margin-bottom: 0;
        }

        .download {
            display: flex;
            li {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 10px;
                img {
                    width: 20px;
                }

                &:nth-child(2) {
                    opacity: 0.9;
                }
            }
        }
    }
}
